<%- include('../Patials/Header')%>
    <section class="mx-auto w-full max-w-7xl px-4 py-4">
        <div class="flex justify-center">
            <img src="https://img.freepik.com/free-vector/playful-analytics-concept-illustration_114360-6965.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1701129600&semt=ais" alt="" class="w-7/12 h-96 mt-20    ">
        </div>
    </section>
    <%- include('../Patials/Footer')%>